.container
  background-color: #0a0a0a5e
  background-image: url(/medias/ioi.svg)
  background-repeat: no-repeat
  background-position: center bottom
  background-size: cover
  height: 70%

.mainText
  font-family: 'Mersad-Bold', sans-serif
.secondContainer
  font-family: 'Mersad-Bold', sans-serif
  
