@font-face 
  font-family: 'Mersad-Bold'
  src: url("/fonts/Mersad-Bold.otf") format('opentype')


.mainContainer
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  max-width: 1320px
  padding: 0 20px
  margin: 0 auto  
  
  
.textos
  font-family: 'Mersad-Bold', sans-serif


.aga1
  font-size: 3.5rem
  color: #fff
  text-align: center


.aga6
  font-size: 1.3rem
  color: #969696
  text-align: center
  font-family: var(--font-inter)